.todolist {
  width: 100%;
  padding: 1rem 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.todoitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 0;
    border-bottom: 1px solid rgba(3, 163, 255, 0.1);
}
.todoitem:last-child{
  border-bottom: none;
}
.markAsDone{
  text-decoration: line-through;
}
.buttons-todo{
  display: flex;
  margin: 0 .2rem;
  font-size: 12px;
  height: 35px;
}
.sucess{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem;
  color: #44b7e8;
  background: transparent;
  border-radius: 2px;
  width: 35px;
  height: 35px;
  font-size: 20px;
}
.sucess:hover{
  font-size: 23px;
}
.pending{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #44b7e8;
  background: transparent;
  border-radius: 2px;
  width: 35px;
  height: 35px;
  font-size: 20px;
}
.pending:hover{
  font-size: 23px;
}
.delete{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem;
  color: #44b7e8;
  background: transparent;
  border-radius: 2px;
  width: 35px;
  height: 35px;
  font-size: 20px;
}
.delete:hover{
  font-size: 23px;
}

