.todolist {
  width: 100%;
  padding: 1rem 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.todoitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem 0;
    border-bottom: 1px solid rgba(3, 163, 255, 0.1);
}
.todoitem:last-child{
  border-bottom: none;
}
.markAsDone{
  text-decoration: line-through;
}
.buttons-todo{
  display: flex;
  margin: 0 .5rem;
  font-size: 12px;
  height: 25px;
}
.sucess{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem;
  color: white;
  background: rgb(6, 241, 112);
  border-radius: 2px;
  width: 25px;
  height: 25px;
  margin: 0 .2rem;
}
.pending{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem;
  color: white;
  background: rgb(241, 71, 6);
  border-radius: 2px;
  width: 25px;
  height: 25px;
  margin: 0 .2rem;
}
.delete{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem;
  color: white;
  background: rgb(206, 0, 0);
  border-radius: 2px;
  width: 25px;
  height: 25px;
  margin: 0 .2rem;
}

