.todoForm {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 10rem;
  margin: 0 13rem;
}

input#description {
  background: transparent;
  border: 1px solid rgb(13, 168, 234);
  border-radius: 3px;
  padding: .5rem;
  width: 100%;
  color: #44b7e8;
  font-size: 14px;
}
.buttons{
  display: flex;
}
.buttons>button {
  padding: .6rem;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  color: white;
  margin-left: .5rem;
  width: 120px;
  border-radius: 3px;
}
