.todos{
text-align: center;
}
h1{
  font-weight: 200;
}
a{
  color: skyblue;
  text-decoration: none;
}

footer{
  width: 100%;
  bottom: 20px;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


